<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Удаление пользователя</title>
</head>
<body>

<h1>Вы хотите удалить пользователя?</h1>
<br/>
<form th:href="@{/deleteUser}" th:method="post" th:object="${user}">

    <div>
    <input type="text" th:field="*{id}" id="id"/>

    <br/>

    <input type="submit" value="Удалить">

    </div>
    <br>
    <a href="#" th:href="@{/logout}">Log Out</a>
</form>

</body>
</html>