<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <!--  <title><link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}" />-->
    </title>
</head>
<body>
<!-- show notification on error -->
<div th:if="${param.error}">
    Invalid username or password.
</div>

<!-- show notification of logout -->
<div th:if="${param.logout}">
    You have been logged out.
</div>

<form th:action="@{/listUsers}" th:method="post" th:object="${user}">
    <div>

        Logged in user: <b th:inline="text"> [[${#httpServletRequest.remoteUser}]] </b>
        <a href="#" th:href="@{/logout}">Log Out</a>

        <table border="2">
            <tr>
                <td>ID</td>
                <td>Имя</td>
                <td>Фамилия</td>
                <td>Пароль</td>
                <td>Имя Пользователя</td>
                <td>Действия</td>

            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">
                <td th:text="${user.name}">
                <td th:text="${user.lastName}">
                <td th:text="${user.password}">
                <td th:text="${user.username}">
                <td>
                    <a th:href="@{/admin/updateUser(id=${user.id})}"> Обновить </a>

                    <br>

                    <a th:href="@{/admin/deleteUser(id=${user.id})}"> Удалить </a>

                </td>
            </tr>


        </table>

        <a th:href="@{/admin/addUser}"> Добавить пользователя </a>

    </div>
</body>


</html>